.form {
  display: flex;
  font-size: 12pt;
  height: 2rem;
}

.add-input, .add-button {
  display: block;
  font-size: inherit;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid var(--main);
}

.add-input:focus, .add-button:focus {
  outline: 1px solid var(--main);
}

.add-input {
  width: 75%;
  padding: 0 5px;
}

.add-button {
  width: 25%;
  background-color: var(--main);
  cursor: pointer;
  color: white;
  font-weight: 600;
}

.add-input::placeholder {
  color: darkgray;
}